* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
    width: 100vw;
    background-color: #e7e7e78f;
}
.cover-div {
  height: 90vh;
  width: 80vw;
  background-image: linear-gradient(143deg, #ebe9e942 34%, #0000004a);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4vw;
  box-shadow: 0 0 8px 0px #80808061;
}
.options-div {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  /* animation: options-anim 10s timing-function delay iteration-count direction fill-mode; */
  animation-name: options-anim;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 5s;
}
.options-div:hover {
  animation-play-state: paused;
}
/* @keyframes options-anim {
  0% {
  transform: translate(-50%, -50%) rotate(-10deg);
  }
  50% {
  transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
  transform: translate(-50%, -50%) rotate(-10deg);
  }
} */
@keyframes options-anim {
  0% {
  transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
  transform: translate(-50%, -50%) rotate(10deg);
  }
  50% {
  transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
  transform: translate(-50%, -50%) rotate(-10deg);
  }
  100% {
  transform: translate(-50%, -50%) rotate(0deg);
  }
}
.middle-circle {
  height: 300px;
  width: 300px;
  background-color: #2a2828e6;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
}
.cover-div .options-div > div {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all 0.1s linear;
}
.cover-div .options-div > div:hover {
  background-color: #3c3a3a78;
}
.one {     
  transform: translate(-255%, 70%);
  top: 0;
 }
.two {
  transform: translate(-12%, -98%);
  left: 0;
 }
.three { 
  transform: translate(-12%, 98%);
  left: 0;
 }
.four { 
  transform: translate(-255%, -70%);
    bottom: 0;
 }
.five { 
  transform: translate(255%, -70%);
  bottom: 0;
 }
.six { 
  transform: translate(12%, 98%);
  right: 0;
 }
.seven { 
  transform: translate(12%, -98%);
  right: 0;
 }
.eight { 
  transform: translate(255%, 70%);
  top: 0;
 }